@inject ProductClient Client
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<div class="modal fade" id="@GetModalId(Product)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" 
                class="btn btn-primary " 
                data-bs-dismiss="modal"
                @onclick="@ConfirmAsync">删除</button>
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public ProductSummary? Product{get;set;}


    private string title=string.Empty;
    protected override void OnParametersSet()
    {
        title=$"删除{Product?.Name}";
    }

    public static string GetModalId(ProductSummary?product)
    {
        ArgumentNullException.ThrowIfNull(product);
        return $"deleteModal-{product.Id}";
    }
    private async Task ConfirmAsync()
    {
        await Client.DeleteProductAsync(Product!.Id);
        NavigationManager.Refresh();
    }
}
